<section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-h">
   
   <nav class="navbar navbar-dropdown navbar-expand-lg">
	        <div class="container">
	            <div class="navbar-brand">
	                <span class="navbar-logo">
	                    <a href="https://zdslogic.com">
	                        <img src="assets/images/zdslogic-logo-619x209.png" alt="ZdsLogic Technologies" style="height: 8rem;">
	                    </a>
	                </span>
	                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="https://mobiri.se">&nbsp;</a></span>
	            </div>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active" (click)="redirectToHome();">Home</a>
  <a href="#news" (click)="redirectToArticles();">News</a>
  <a href="#contact" (click)="redirectToContact();">Contact</a>
  <a href="#profiles" (click)="redirectToProfiles();">Profiles</a>
  <a href="#about" (click)="redirectToAbout();">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

		</div>
		
	</nav>
	
</section>


